notes.org
.DS_Store
.vscode
.ipynb_checkpoints
__pycache__*
settings.json
input_data.json
model
validation_model
*.hpp
reading
results/loo/*.pkl
results/loo/*.csv
results/infd/*.ncdf
results/infd/*.nc
results/plots/*.png
results/plots/*.svg
results/input_data*
